{% extends "base_layout.html" %}

{% block title %}
    Book Store
{% endblock %}

{% block body %}
<section class='container'>
    <div class='d-flex justify-content-center align-items-center'>
        <h1 class='text-center mt-3 bg-info text-white py-3 rounded-3 w-50'>
            Welcome To Our Store
        </h1>
        <a class='btn btn-warning mx-2' href={% url 'add_book' %}>Add Book</a>
    </div>
    
    <div class='row mt-4'>

        {% for book in all_books %}
            <div class='col col-3 mb-2'>
                <div class='d-flex flex-column gap-2 h-100 border rounded-3 p-3'>
                    <div class='img-fluid'>
                        <img src="{{ book.img }}" class="img-fluid" alt="{{ book.name }}" class='rounded-3'>
                    </div>
                    <h4>Book : {{ book.name }}</h4>
                    <h4>Salary : {{ book.salary }}</h4>
                    <div>
                        <a class='btn btn-info' href="{% url 'show_book' book.id %}">Show</a>
                        <a class='btn btn-danger' href="{% url 'delete_book' book.id %}">Delete</a>
                    </div>
                    {% if book.avilable %}
                        <span class="badge rounded-pill bg-success mt-auto me-auto">Available</span>
                    {% else %}
                        <span class="badge rounded-pill bg-danger  mt-auto me-auto">Not Available!</span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </div>
</section>
{% endblock %}
